.welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 650px;
    font-size: 2.3em;
    background-color:hsla(222,0%,100%,1);
    background-image:
    radial-gradient(at 83% 17%, hsla(288,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 20% 64%, hsla(288,100%,91%,1) 0px, transparent 50%);
}

.message{
    animation: fadeopacity 1.5s;
}

.second-section{
    margin-top: 200px;
    text-align: center;
    font-size: 1.2em;
}

.img-landing{
    margin-top: 20px;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.benefits{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media only screen and (max-width: 600px) {
    .welcome{
        font-size: 1.5em;
    }
    .second-section{
        margin-top: 125px;
    }

    .benefits{
        grid-template-columns: 1fr;
    }
}