.bookings{
    height: 100vh;
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 96% 61%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%);
    padding-top: 90px;
    animation: fadeopacity 0.4s;
}

.bookings-list{
    margin-inline: 10%;
    margin-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.438);
    border: 0.5px solid rgb(184, 184, 184);
    padding: 15px;
    border-radius: 5px;
    animation: slidefromtop 0.4s;
    box-shadow: rgba(100, 100, 111, 0.116) 0px 7px 29px 0px;
}

.book-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.book.deleted{
    animation: outopacity 0.4s forwards;
}


.create-btn{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    background-color: #002db3;
    transition: all 0.4s;
}

.create-btn:hover{
    background-color: #0000b3;
}

.btn-delete{
    border-radius: 5px;
    margin-top: 15px;
    background-color: transparent;
    border: 0.5px solid grey;
    padding: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .bookings-list{
       grid-template-columns: 1fr;
    }
    
    .bookings{
        height: 100%;
    }


    .book{
    padding: 5px;
    }
}