
<section class="plans-container">

    <h1 class="choose-title">Elije tu plan</h1>
    
    <div class="gridplans" [style.--columns]="columns">
        <ng-container *ngFor="let plan of plans;let i = index">
            <article class="plan">
                <h2 class="plan-title">{{plan.name}}</h2>
                <h3 class="plan-price">{{plan.price | currency}}</h3>
                <p class="plan-description">
                </p>
                <p>
                    {{plan.description}}
                </p>
                <a routerLink="../Payments/Pay/{{plan.priceId}}">Proceder al pago</a>
            </article>
        </ng-container>        
    </div>

</section>
