.plans-container {
    padding-top: 60px;
    min-height: 100vh;
    background-color: hsla(107, 0%, 100%, 1);
    background-image:
        radial-gradient(at 42% 72%, hsla(242, 76%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 1%, hsla(220, 79%, 73%, 1) 0px, transparent 50%);
}

.gridplans{
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    color: #fff;
    margin: 20px;
    border-radius: 20px;
    padding: 30px;
    background-color: #00000033;
    animation: slidefromtop 0.8s;
}

.choose-title{
    font-size: 3em;
    padding: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    animation: fadeopacity 1.2s;
}

.plan-description {
    opacity: 0.7;
}

.plan-price {
    font-size: 5em;
}
@media only screen and (max-width: 600px) {
    .gridplans{
        grid-template-columns: 1fr;
    }
}