<section class="form-container">
    <form class="form" action="">

        <div class="control-container">
            <label for="email" class="form-label">Correo</label>
            <input type="email" id="email" class="form-input">
        </div>

        <div class="control-container">
            <label for="email" class="form-label">Contraseña</label>
            <input type="password" id="email" class="form-input">
        </div>

        <div class="control-container">
            <button class="btn primary" type="submit">Iniciar Sesion</button>
            <span class="form-span">¿No tienes una cuenta? <a class="signin" routerLink="">Registrate</a></span>
            
        </div>
    </form>
</section>