.checkout-container {
    margin-top: 5%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    animation: fadeopacity 0.9s;
}

.form-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #ffffff9f;
    padding: 10px;
    font-size: 1em;
}

.form-input {
    border: 0.5px solid rgba(128, 128, 128, 0.651);
    border-radius: 5px;
    padding: 10px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.4s;
    cursor: pointer;
    width: 100%;
}

.primary {
    background-color: rgb(53, 53, 255);
}

.primary:hover {
    background-color: rgb(11, 11, 255);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #5c636a;
}

.btn-container{
    width: 100%;
    align-self: flex-end;
}


.frame-card {
    background-color: #fff;
    display: block;
    border: 0.5px solid rgba(128, 128, 128, 0.651);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.checkout-summary {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #b3b3b385;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .checkout-container {
        margin-top: 15%;
        grid-template-columns: 1fr;
    }

    .form-card {
        margin: 5px;
        padding: 5px;
    }

    .checkout-summary {
        margin: 5px;
        padding: 5px;
    }

}