@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
    box-sizing: border-box;
}

html {
    background-color:hsla(222,0%,100%,1);
}

main{
    height: 100%;
}


.container{
    margin-inline:15%;
}


/*global animations*/

@keyframes fadeopacity {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

@keyframes outopacity {
    0%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}

@keyframes slidefromtop {
    0%{
        opacity: 0;
        transform: translateY(-20%);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .container{
        margin-inline:5%;
    }
}